.feature__list {
    display: flex;
    gap: 30px; 
    list-style: none;
    text-decoration: none;
    color: currentColor;
}
.feature__list .title {
    text-transform: uppercase;
}
.feature__text {
    line-height:1.71;
    width: 270px;
}
.feature__icons {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}